.seconday-hero-section {
    height: 316px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/contactBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            height: 77px;
            width: 77px;
        }

        h1 {
            font-size: 48px;
            font-weight: 500;
            margin: 0;
        }

        .breadcrumbs {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 6px;

            li {
                a {
                    text-decoration: none;
                    color: black;
                }
            }

            svg {
                height: 20px;
                width: 20px;
            }
        }
    }

}