.products {
    display: flex;
    flex-wrap: wrap;

    .product--item {
        width: 285px;
        height: 446px;

        .image-container {
            height: 301px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}